<div class="smartrest-fondo-background"></div>
<div class="smartrest-fondo"></div>

  <div class="smartrest-login-card-container">
   
   
    <div class="smartrest-logo-verde" aria-label="Smartrest"></div>

    <form [formGroup]="form" (ngSubmit)="submit()" style="display: grid; gap: 12px">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Entrar</button>

      <div *ngIf="error" style="color: #b00020">
        {{ error }}
      </div>
    </form>
  </div>

